
<header class="header-main">
    <div class="container header-wrapper">
        <div class="logo">
            <a href="../HOME/index.html"><img src="~/images/materialy/img/Group 4.png" alt="Boty Logo" width="120"></a>
        </div>
        <div class="header-right-group">
            <form class="search-bar" action="#">
                <button type="submit">
                    <img src="~/images/materialy/img/loupe.png" alt="Hledat">
                </button>
                <input type="text" placeholder="Vyhledat zboží...">
            </form>
            <div class="header-icons">
                <a href="#"><img src="~/images/materialy/img/kosik.png" width="24"></a>
                <a href="#"><img src="~/images/materialy/img/heart.png" width="24"></a>
            </div>
        </div>
    </div>
</header>

<nav class="main-nav">
    <div class="container">
        <ul class="nav-menu">
            <li>
                <a href="#" class="nav-link">
                    Chlapecké
                    <img src="~/images/materialy/img/Group 169.png" class="nav-icon-img" alt="Boy">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    Dívčí
                    <img src="~/images/materialy/img/Group 171.png" class="nav-icon-img" alt="Girl">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">Doplňky</a>
            </li>
            <li>
                <a href="#" class="nav-link">Ostatní</a>
            </li>
            <li>
                <a href="#" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="breadcrumbs">
        <a href="../HOME/index.html">Domů</a> > <span>Poptávka</span>
    </div>
</div>

<section class="demand-section">
    <div class="container demand-wrapper">

        <div class="demand-image-col">
            <img src="~/images/materialy/img2/boty-se-spickou.png" alt="Dítě si hraje" style="object-fit: cover; height: 100%; width: 100%; min-height: 400px;">
        </div>

        <div class="demand-form-col">
            <h1>Poptávkový formulář</h1>
            <p class="form-intro">Vyplňte formulář níže a my se Vám ozveme, jakmile to půjde.</p>

            <form class="main-form">

                <div class="form-row-half">
                    <div class="form-group">
                        <label>Jméno</label>
                        <input type="text" placeholder="Zadejte své jméno...">
                    </div>
                    <div class="form-group">
                        <label>Příjmení</label>
                        <input type="text" placeholder="Zadejte své příjmení...">
                    </div>
                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" placeholder="Zadejte svůj e-mail...">
                    <div class="error-msg">Zadaný e-mail nemá správný formát</div>
                </div>

                <div class="form-group">
                    <label>Telefon</label>
                    <input type="tel" placeholder="Zadejte svůj telefon...">
                </div>

                <div class="form-group">
                    <label>Země</label>
                    <select>
                        <option>Vyber zemi</option>
                        <option>Česká republika</option>
                        <option>Slovensko</option>
                    </select>
                </div>

                <div class="payment-section">
                    <label class="payment-label-main">Způsob platby</label>
                    <div class="radio-group">
                        <label class="radio-container">
                            Hotově
                            <input type="radio" name="payment">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-container">
                            Převodem
                            <input type="radio" name="payment" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-container">
                            Kartou
                            <input type="radio" name="payment">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="form-buttons">
                    <button type="button" class="btn-outline">
                        <span>&#10094;</span> Zpět
                    </button>
                    <button type="submit" class="btn-red btn-next">
                        Pokračovat <span>&#10095;</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>
