<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boty</title>
    <link rel="stylesheet" href="~/css/HOME_style.css">
    <link rel="stylesheet" href="~/css/PRODUCT_style.css">
    <link rel="stylesheet" href="~/css/CART_style.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="contact-left">
                    <a href="#">
                        <img src="~/images/materialy/img/8.png" class="icon-inline" alt="Telefon">
                        <span>+420 777 666 555</span>
                    </a>
                    <span class="divider">|</span>
                    <a href="#">
                        <span>info@nejlepsiboty.cz</span>
                    </a>
                </div>
                <div class="login-right">
                    <a href="#">
                        <img src="~/images/materialy/img/profile-user.png" class="icon-inline" alt="Login">
                        <span>Přihlásit se</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container header-wrapper">
                <div class="logo">
                    <a href="#"><img src="~/images/materialy/img/Group 4.png" alt="Boty Logo" width="120"></a>
                </div>
                <div class="header-right-group">
                    <form class="search-bar" action="#">
                        <button type="submit">
                            <img src="~/images/materialy/img/loupe.png" alt="Hledat">
                        </button>
                        <input type="text" placeholder="Vyhledat zboží...">
                    </form>
                    <div class="header-icons">
                        <a href="#"><img src="~/images/materialy/img/kosik.png" width="24"></a>
                        <a href="#"><img src="~/images/materialy/img/heart.png" width="24"></a>
                    </div>
                </div>
            </div>
        </div>
    <header/>


    <main>
        @RenderBody()
    </main>


    <footer class="footer-wrapper">
        <div class="container footer-container">
            <div class="footer-left">
                <div class="footer-block">
                    <h3>O NÁS</h3>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <div style="margin-top:20px;"><img src="~/images/materialy/img/Group 4.png" width="100"></div>
                </div>
                <div class="footer-block" style="flex:1.5; padding-left:40px;">
                    <h3>NAŠE NABÍDKA</h3>
                    <div class="footer-lists">
                        <ul>
                            <li class="list-head">Dívčí</li>
                            <li><a href="#">Tenisky</a></li>
                            <li><a href="#">Holínky</a></li>
                            <li><a href="#">Sandály</a></li>
                        </ul>
                        <ul>
                            <li class="list-head">Chlapecké</li>
                            <li><a href="#">Tenisky</a></li>
                            <li><a href="#">Holínky</a></li>
                            <li><a href="#">Sandály</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <h3>KONTAKTUJTE NÁS</h3>
                <div class="contact-row">
                    <img src="~/images/materialy/img/6.png" class="footer-icon-img" alt="Email">
                    info@nejlepsiboty.cz
                </div>
                <div class="contact-row">
                    <img src="~/images/materialy/img/8.png" class="footer-icon-img" alt="Telefon">
                    +420 777 666 555
                </div>
                <div class="social-icons">
                    <a href="#"><img src="~/images/materialy/img/facebook.png" width="20"></a>
                    <a href="#"><img src="~/images/materialy/img/Group 153.png" width="20"></a>
                    <a href="#"><img src="~/images/materialy/img/twitter.png" width="20"></a>
                </div>
                <div class="address">Litvínovská 600, Praha 9</div>
            </div>
        </div>
    </footer>

</body>
</html>